body {
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}

#header,
#footer {
    padding: 10px;
    color: gold;
    background-color: maroon;
}

#section {
    margin: 5px;
    padding: 10px;
    background-color: lightgrey;
}

#article {
    margin: 5px;
    padding: 10px;
    background-color: white;
}

#nav ul {
    background-color: whitesmoke;
    padding: 0;
}

#nav ul li {
    display: inline;
    margin: 5px;
}

.menuitem {
    text-decoration: none;
    color: maroon;

}
