h1 {
    text-transform: uppercase;
    color: #00cc81;
    font-family: cursive;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    color: #00cc81;
    font-family: sans-serif;
}

h3 {
    text-transform: uppercase;
    color: #00cc81;
    font-family: sans-serif;
}

h4 {
    padding-left: 2em;
}


hr {
    border-color: #00cc81;
    border-width: .2em;
}


p {
    padding-left: 3em;
}
